Build
Build_*
processed
AnotherASM
SummerASM
NewerASM
XmasASM
FallingLeafASM
kamek_pal2.x
kamek_ntsc.x
kamek_ntsc2.x
kamek_jpn.x
kamek_jpn2.x
kamek_kor.x
kamek_twn.x
kamek_chn.x
tools/cw
tools/*.pyc
*.pyc
tools/__pycache__
__pycache__
.DS_Store
*.lnk